
.main {
    height: 100vh;
    text-align: center;

}

.img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.friend {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


}