.header {
    grid-area: h;
    background-color: rgba(188, 232, 137, 0.97);
    justify-content: flex-end;




}
.header img {
    width: 60px;
}


.loginBlock{
    float: right;
}

.loginBlock a {
    color: white;
}