.nav {
    grid-area: n;
    /*background-color: burlywood;*/
    padding: 20px;
    border: black solid;
    height: 100vh;
}


.item a {
    color: #000000;
    text-decoration: none;
}
.item a.activeLink {
     color: gold;
 }
