.descriptionBlock {
padding: 10px;
}
 /*.img {*/
 /*    width: 10px;*/
 /*    height: 200px;*/
 /*    border: none;*/
 /*}*/

 .icon{
     width: 40px;
     height: 40px;
     padding-left: 10px;
     vertical-align: middle;
 }

 .contact{
   padding-left: 10px;
 }

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: indianred;
}

.avatar{
    border-radius: 30px;
}