.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    /*padding: 10px;*/
    color: #000000;
    text-decoration: none;
    display: flex;
    margin-top: 10px;

}

.dialogsItems a.activeLink {
    color: #ff0000;
}

.messages a {
    padding: 10px;
}

.messages  {
    padding: 10px;
}

.dialog {
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
