.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    border-right: black solid;
    height: 100vh;
}

.dialogsItems a {
    /*padding: 10px;*/
    color: #000000;
    text-decoration: none;
    display: flex;
    margin-top: 10px;


}

.dialogsItems a.activeLink {
    color: gold;
}

.messages a {
    padding: 10px;
}

.messages  {
    padding: 10px;
    border-left: black solid;
}

.dialog {

}
.img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
